<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elsword Compendium</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/eve_classes">Eve Classes</a>
        <a href="/eve_skills">Eve Skills</a>
    </div>

    <h1>Elsword Compendium</h1>

    <div class="content">
        <div class="centered-div">
            <img src="../static/images/eve_wallpaper.jpg" alt="eve_wallpaper">
            <p>You can find informations about the character Eve from the video game Elsword.</p>
            <p>More content will be added in the future.</p>
        </div>
    </div>

</body>

</html>
